.wrapperOpen {
  background-color: white;
  box-shadow: 0 0 5px #54595f;
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.wrapperClose {
  background-color: #1976d2;
  box-shadow: 0 0 5px #54595f;
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
  width: 100vw;
  height: 300px;
}

.hamburger {
  position: relative;
  z-index: 1500;
  cursor: pointer;
  width: 30px;
  height: 30px;

  &__bar {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 7px 0;
    transition: 0.4s;

    &--color {
      background-color: var(--main-blue);
    }
  }
}
