.wrapperOpen {
  background-color: white;
  box-shadow: 0 0 5px #54595f;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-out;
}

.wrapperClose {
  background-color: #1976d2;
  box-shadow: 0 0 5px #54595f;
  position: fixed;
  top: -1000px;
  left: 0;
  right: 0;
  width: 100vw;
  height: 300px;
  transition: all 0.5s ease-out;
}

.hamburger {
  background-color: #1976d2;
  border: none;
  outline: none;
}
