.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.currencies {
  padding: 0 10px 40px 10px;
  text-align: center;
  font-size: 24px;
  color: var(--main-blue);

  &__link {
    padding: 5px 0px;
    z-index: -1000;
    &:hover {
      opacity: 0.8;
    }
  }
}
