.currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  width: 300px;
  height: 100px;
  border: 1px solid var(--gray);
  box-shadow: 0px 5px 10px -5px #54595f;
  border-radius: 20px;
  background: white;
  color: black;
  text-shadow: 1px 1px 1px #939597;
  margin-bottom: 50px;
  padding: 20px;
  &__button {
    outline-style: none;
    border: none;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 25px;
  }
}
