.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  @media screen and (min-width: 620px) {
    height: 85vh;
  }
}

.inner__wrapper {
  display: block;
  max-width: 960px;
  padding: 10px 25px 50px 5px;
  border: 1px solid #1976d2;
  border-radius: 8px;
  @media screen and (min-width: 620px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header {
  color: #1976d2;
  padding-left: 20px;
  @media screen and (min-width: 620px) {
    padding-left: 0;
  }

  &__button {
    font-size: 20px;
  }

  &__title {
    font-size: 56px;
  }

  &__paragraph {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
